.nested-fields.card.card-body.bg-light.crit-input
  %h3 Boolean Response Question
  - single_collection = {"Single Answer" => 1, "Team Answer" => 0}
  .tt{"data-toggle": "tooltip", "data-placement": "top", "title": "The question/criteria shown to students when they fill in the form"}
    = f.input :title, as: :string, label: 'Field Title'
  .tt{"data-toggle": "tooltip", "data-placement": "top", "title": "The two options the student has to choose from when answering (eg. yes or no, true or false)"}
    = f.input :max_value, as: :string, input_html: { class: 'min-value minmax' }, label: "Positive Label"
    = f.input :min_value, as: :string, input_html: { class: 'max-value minmax' }, label: "Negative Label"
  .tt{"data-toggle": "tooltip", "data-placement": "top", "title": "Single: students provide one response. Team: Students provide one response per team member"}
    = f.input :single, as: :radio_buttons, collection: single_collection, label: 'Single or Team answer?', input_html: { class: 'single'}
  = f.hidden_field :response_type, value: Criterium.bool_type
  = f.hidden_field :_destroy
  .row
    .col-3
      = link_to 'Remove Question', '#', class: 'remove_fields remove_crit btn btn-danger'