.nested-fields.card.card-body.bg-light
  %h3 Boolean Response Question
  - single_collection = {"Single Answer" => 1, "Team Answer" => 0}
  - boolean_collection = {"Yes" => "1", "No" => "0"}
  = f.input :title, as: :string, label: 'Field Title'
  = f.input :max_value, as: :string, input_html: { class: 'min-value minmax' }, label: "Positive Label"
  = f.input :min_value, as: :string, input_html: { class: 'max-value minmax' }, label: "Negative Label"
  = f.input :single, as: :radio_buttons, collection: single_collection, label: 'Single or Team answer?', input_html: { class: 'single'}
  = f.hidden_field :response_type, value: Criterium.bool_type
  = link_to 'Remove Criteria', '#', class: 'remove_fields'