.task-options-container
  %h2= "Peer Assessment: #{assessment.name}"


  Ensure each of your answers does not exceed 250 characters.

= form_tag(process_assessment_path(student_team_id: student_team.id), remote: true) do |f|
  - if error != ""
    .task-options-container.error-container#errorsHere
      = error
  - assessment.questions.each do |crit|
    .task-options-container
      = render partial: 'questions/answer_fields', locals: {crit: crit, team: team}
  .text-center.pt-3
    = submit_tag 'Submit', class: 'btn btn-primary'