%table.table.table-hover.table-bordered.table-striped#gradeTable
  %tr
    %th Team Number
    %th Students Completed
    %th Team Grade
    %th
    %th
  - @teams.each do |team|
    - tg = TeamGrade.where(team: team, assessment: @assessment).first
    %tr
      %td= team.number
      %td= "#{@assessment.num_completed team} / #{team.users.count}"
      %td= tg.nil? ? "No grade assigned yet" : tg.grade
      %td= link_to "Set Grade", teams_grade_form_path(team, @assessment), class: 'btn btn-info', remote: true
      %td= link_to "View Individual Grades", view_ind_grades_path(team, @assessment), class: 'btn btn-info', remote: true