.nested-fields.card.bg-light.crit-input
  .card-header
    %h3.card-title Whole Number Response Question
  .card-body
    - single_collection = {"Single Answer" => 1, "Team Answer" => 0}
    - boolean_collection = {"Yes" => "1", "No" => "0"}
    = f.input :title, as: :string, label: 'Field Title'
    = f.input :min_value, as: :string, input_html: { class: 'min-value minmax' }
    = f.input :max_value, as: :string, input_html: { class: 'max-value minmax' }
    = f.input :single, as: :radio_buttons, collection: single_collection, label: 'Single or Team answer?', input_html: { class: 'single'}
    = f.input :assessed, as: :radio_buttons, collection: boolean_collection, label: 'Assessed in weighting?', input_html: { class: 'assessed' }
    = f.input :weighting, as: :string, label: 'Relative Weighting', input_html: { class: 'relative-weight' }
    = f.hidden_field :response_type, value: Criterium.int_type
    = f.hidden_field :_destroy
    = link_to 'Remove Question', '#', class: 'remove_fields'