.nested-fields.card.card-body.bg-light.crit-input
  %h3 Text Response Question
  - single_collection = {"Single Answer" => 1, "Team Answer" => 0}
  = f.input :response_type, as: :hidden, input_html: { value: Criterium.string_type }
  = f.input :title, as: :string, label: 'Field Title'
  = f.input :single, as: :radio_buttons, collection: single_collection, label: 'Single or Team answer?', input_html: { class: 'single'}
  = f.hidden_field :_destroy
  = link_to 'Remove Question', '#', class: 'remove_fields'
