%h2= @assessment.name
.card
  .card-header
    %h3.card-title Your Grade
  .card-body
    = "Team grade: #{@team_grade}"
    Your weighting:
  .card-footer
    %h4= "Your grade: #{@stud_weight.weighting}"