.card
  .card-header
    %h3.card-title= "Your Grade for #{@assessment.name}"
  .card-body
    = "Team grade: #{@team_grade}"
    %br
    = "Your weighting: #{@weighting}"
  .card-footer
    %h4= "Your grade: #{@personal_grade}"

= link_to 'Back to team page', @team