%h2= @assessment.name

%p= "Date opened: " + @assessment.date_opened.to_s
%p= "Date closed: " + @assessment.date_closed.to_s

- @assessment.criteria.each do |crit|
  .card.card-body.bg-light
    %ul
      %li= crit.title
      %li= Criterium.type_dict.key(crit.response_type.to_i)
      %li= crit.single ? "Answered once" : "Answered once per team member"
      %li= crit.assessed ? "Relative weight in weighting calculation: " + crit.weighting.to_s : "Not included in weighting calculation"

= link_to 'Back to module', @assessment.uni_module
