.modal.fade#disputeModal{"tabindex":"-1", "role": "dialog", "aria-labelledby": "disputeModalLabel", "aria-hidden": "true"}
  .modal-dialog.modal-lg{"role": "document"}
    .modal-content
      .modal-header
        %h5.modal-title#disputeModalLabel= "Disputing work log"
        %button.close{"type": "button", "data-dismiss": "modal", "aria-label": "Close"}
          %span{"aria-hidden": "true"} &times;
      .modal-body
        = form_tag({action: :dispute_worklog}) do
          = label_tag 'reason', 'Please briefly describe the reason you are disputing this work log'
          = text_area_tag 'reason', '', required: true
          = hidden_field 'id', @worklog.id
          = submit_tag "Confirm Dispute", class: 'btn btn-primary'
      .modal-footer
        %button.btn.btn-secondary{"type": "button", "data-dismiss": "modal"}
          Close
