.modal.fade#showWorklogModal{"tabindex":"-1", "role": "dialog", "aria-labelledby": "showWorklogModalLabel", "aria-hidden": "true"}
  .modal-dialog.modal-lg{"role": "document"}
    .modal-content
      .modal-header
        %h5.modal-title#showWorklogModalLabel= "Showing worklogs for week #{@date.to_formatted_s(:long)}"
        %button.close{"type": "button", "data-dismiss": "modal", "aria-label": "Close"}
          %span{"aria-hidden": "true"} &times;
      .modal-body
        %table.table.table-bordered.table-striped.table-hover#logTable
          %tr
            %th Author
            %th Log
          - @team.users.each do |user|
            %tr
              %td= user.real_display_name
              - log = @logs.where(author: user).first
              - if log.nil?
                %td
                  %em= "No work log recorded"
              - else
                - if log.override.nil?
                  %td= log.content
                - else
                  %td
                    %strong Override:
                    = log.override
                    %br
                    %strong Old version:
                    = log.content

      .modal-footer
        %button.btn.btn-secondary{"type": "button", "data-dismiss": "modal"}
          Close
