#putModalHere

%h2= "Team " + @team.number.to_s

%h3 Members
= render 'admin/small_user_list'
- if @team.users.count > 0
  .glyphRow
    %h5 Group Email Info
    %span.material-icons email
  %button.btn.btn-primary{"data-toggle":"collapse", "data-target":"#groupEmail", "role": "button", "aria-expanded": "false", "aria-controls": "collapseExample"} Show
  .collapse#groupEmail
    .card.card-body
      .row
        .col-9
          .card
            %p#groupEmailText= @team.group_email_link
        .col-2
          %button.copy-btn.btn.btn-info Copy to clipboard

%hr

%h3 Peer Assessments
- if current_user.staff
  = render 'admin/assessment_list_staff'
- else
  = render 'admin/assessment_list'
