#putModalHere

%h2= "Team " + @team.number.to_s

%h3 Members
= render 'admin/small_user_list'
- if @team.users.count > 0
  .glyphRow
    %h5 Group Email Info
    %span.material-icons email
    #groupEmail
      .card.card-body
        .row
          .col-9
            .card
              %p#groupEmailText= @team.group_email_link
          .col-2
            %button.copy-btn.btn.btn-info Copy to clipboard

%hr

%h3 Peer Assessments
- if current_user.staff
  = render 'admin/assessment_list_staff'
- else
  = render 'admin/assessment_list'

%hr

%h3 Work Logs
- if can? :new_worklog, @team
  - if current_user.has_filled_in_log?(@team.uni_module)
    = button_to 'Work log filled in', '#', disabled: true, class: 'btn btn-secondary'
  - else
    = link_to 'Fill in work log for week', new_worklog_path(@team), remote: true, class: 'btn btn-primary'
  %br
= link_to 'Review team work logs', review_worklogs_path(@team), class: 'btn btn-info'
%br
= link_to 'View past work logs', display_worklogs_path(@team), class: 'btn btn-info'

%hr
- if can? :show, @team.uni_module
  = link_to "Back to module", @team.uni_module, class: 'btn btn-secondary'
