.card.bg-light
  .card-header
    %h5.card-title= crit.title
    - if not crit.subtitle.nil?
      %h5.card-subtitle= crit.subtitle
  - field_render = ""
  - if crit.response_type.to_i == Criterium.string_type
    - field_render = 'criteria/string_field'
  - elsif crit.response_type.to_i == Criterium.int_type
    - field_render = 'criteria/integer_field'
  - elsif crit.response_type.to_i == Criterium.float_type
    - field_render = 'criteria/float_field'
  - elsif crit.response_type.to_i == Criterium.bool_type
    - field_render = 'criteria/boolean_field'
  .card-body
    - # Rendering the field and setting the name of the form element, which is used to find the element's value
    - # in the controller
    - if crit.single
      - name = "response_#{crit.order}"
      = render field_render, crit: crit, name: name
    - else
      - @team.users.each do |user|
        - name = "response_#{crit.order}_#{user.id}"
        = user.real_display_name
        = render field_render, crit: crit, name: name
        %hr