%table.table.table-striped.table-bordered.table-hover
  %tr
    %th Title
    %th Date Opened
    %th Date Closed
    - if current_user.staff?
      %th
    %th
    %th

  - @uni_module.assessments.each do |assess|
    %tr
      %td= assess.name
      %td= assess.date_opened
      %td= assess.date_closed
      %td= link_to 'View', assess, class: 'btn btn-primary'
      - if current_user.staff?
        %td= link_to 'Upload Team Grades', upload_grades_path(assess), class: 'btn btn-info'
      %td= link_to 'Delete', assess, method: :delete, data: { confirm: 'Are you sure? This is a permanent action that will remove all assessment data?' }, class: 'btn btn-danger'
