-# frozen_string_literal: true
= simple_form_for(@uni_module) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :code, label: 'Module Code'
    = f.input :name, label: 'Module Name'

  .form-actions
    = f.button :submit, 'Create Module', class: 'btn btn-lg btn-primary'
