%h1 Module List

%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th
      %th
      %th
      %th

  %tbody
    - @uni_modules.each do |uni_module|
      %tr
        %td= uni_module.title
        %td= link_to 'Show', uni_module
        %td= link_to 'Edit', edit_uni_module_path(uni_module)
        %td= link_to 'Destroy', uni_module, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Uni module', new_uni_module_path
