#putModalHere
%h1= "List of disputes for #{@uni_module.title}"

Below are a list of work logs written by students where another member of their team has then disputed the work log.
If the reason for the dispute is invalid, you should
%strong uphold
the original worklog. If the reason for the dispute is valid, you should
%strong override
the work log to correct it.

- @uni_module.teams.order(:number).each do |team|
  - unless @logs[team.id].nil?
    %h3= "Team #{team.number}"
    %button.btn.btn-primary{type: "button", id: "disputesTeam#{team.id}Btn", 'data-toggle': "collapse", 'data-target': "#disputesTeam#{team.id}", 'aria-expanded': "false", 'aria-controls': "collapseExample"}
      Show disputes

    .collapse{id: "disputesTeam#{team.id}"}
      - @logs[team.id].each do |log|
        .card
          .card-header
            %h4= "#{log.author.real_display_name} - #{log.fill_date.strftime("%d/%m/%Y")}"
          .card-body
            %table.table
              %tr
                %th Disputer
                %th Reason
              - @disputes[log.id].each do |disp|
                %tr
                  %td= disp.user.real_display_name
                  %td= disp.reason
          .card-footer
            .btn-group
              = button_to "Uphold", process_uphold_path(log), class: 'btn btn-success'
              = button_to "Override", override_form_path(log), class: 'btn btn-danger', remote: true, method: :get

%hr
= link_to "Back to module page", @uni_module, class: 'btn btn-secondary'
