%table.table.table-striped.table-hover.table-bordered#studentAssessTable
  %tr
    %th Title
    %th
    %th Date Opened
    %th Date Closed
    %th

  - @assessments.each do |assess|
    - # Can only view results when closing date has passed, and staff have released results
    - disabled_results = true
    - if assess.date_closed.past? and assess.show_results
      - disabled_results = false
    %tr
      %td= assess.name
      - # Only allow user to fill in form if not already done so, and within the fill in date
      - if assess.completed_by?(current_user)
        %td= button_to 'Filled In', '#', class: 'btn btn-secondary', disabled: true
      - elsif not assess.within_fill_dates?
        %td= button_to 'Assessment Closed', '#', class: 'btn btn-secondary', disabled: true
      - else
        %td= link_to 'Fill In', fillin_assessment_path(assess), class: 'btn btn-primary'
      %td= assess.date_opened
      %td= assess.date_closed
      - if disabled_results
        %td= button_to "Results", '#', class: 'btn btn-secondary', disabled: true
      - else
        %td= button_to "Results", assessment_results_path(assess), remote: true, class: 'btn btn-info', method: :get
