- # Partial which displays a list users enlisted in a team
- if @users.length > 0
  %nav{"aria-label": "Student list navigation"}
    = will_paginate @users
%table.table.table-bordered.table-striped.table-hover#userTable
  %thead
    %tr
      %th Username
      %th First Name
      %th Surname
      %th Display Name
      %th Email
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.givenname
        %td= user.sn
        %td= user.real_display_name
        %td= user.email
        %td= link_to "Change Name", change_name_path(user), remote: true, class: "btn btn-info"
