.card.col#modInfo
  .card-body
    %h3 My Modules
    %ul.list-group
      - if current_user.uni_modules.length == 0
        %li.list-group-item.list-group-item-secondary You are not currently involved in any modules
      - else
        - current_user.uni_modules.each do |mod|
          %li.list-group-item
            = link_to mod.title, uni_module_path(mod)
            %button.btn.material-icons{id: "collapseBtn#{mod.id}", "data-toggle": "collapse", "data-target": "#collapse#{mod.id}", role: "button", "aria-expanded": "false", "aria-controls": "collapse#{mod.id}"} expand_more
            .collapse{id: "collapse#{mod.id}"}
              = link_to "Edit", edit_uni_module_path(mod), class: 'btn btn-info'
              = link_to 'Delete', mod, method: :delete, data: { confirm: 'Are you sure? This is a permanent action that will remove all module data?' }, class: 'btn btn-danger'