#putModalHere

%h2 My Account
.card.col-6#accInfo
  .card-body
    %h3 Account Information
    %strong Username:
    %p= current_user.username
    %strong Display Name:
    %p= current_user.real_display_name
    = link_to "Change Name", change_name_path(current_user), remote: true, class: 'btn btn-info'
    %br
    %strong Email Address:
    %p= current_user.email
    %strong User Type:
    - if current_user.staff
      - user_type = "Staff"
    - else
      - user_type = "Student"

    - if current_user.admin
      - user_type << " (Admin)"
    %p= user_type
