.row.border-top
  .col.align-self-center.text-center.bold
    = table_data["graph_title"]
.row 
  .col
    - if table_data["graph_type"] == 0 #line graph
      = line_chart table_data["data"], xtitle: table_data["xtitle"], ytitle: table_data["ytitle"]

    - elsif table_data["graph_type"] == 1 #bar chart
      = bar_chart table_data["data"], xtitle: table_data["xtitle"], ytitle: table_data["ytitle"]

    - elsif table_data["graph_type"] == 2 #pie chart
      = pie_chart table_data["data"]

    - elsif table_data["graph_type"] == 2 #column chart
      = column_chart table_data["data"]

  - if table_data["statements"] != nil 
    .col-sm-6.align-self-center.text-center
      = table_data["statements"].join('. ')


    -# = column_chart data, id: graph_id, width: graph_width, hight: graph_height, min: min_value, max: max_value