.col
  %ul.nav.flex-column
    %li.nav-item
      = link_to fa_icon("list-check", text: 'Home'), team_path(1) , class: "nav-link"
  -# %ul.nav.flex-column
  -#   %li.nav-item.position-static{'data-controller': "infographic"} 
  -#     %a.nav-link.dropdown-toggle{'data-toggle': 'dropdown', "role": "button", "aria-haspopup": "true", "aria-expanded": "false"}See Tasks
  -#     %div.dropdown-menu.w-100
  -#       - if users.count > 0
  -#         - users.each do |u|
  -#           - if u.user_id != current_user.id
  -#             = link_to u.user.real_display_name, get_task_list_path(u.id), class: "dropdown-item",  remote: true
  -#           - else 
  -#             = link_to "My Tasks", get_task_list_path(u.id), class: "dropdown-item",  remote: true
  %ul.nav.flex-column
    %li.nav-item
      = link_to fa_icon("presentation-screen", text: 'Student Tasks'), swap_to_tasks_path(params[:student_team_id]), remote: true , class: "nav-link"  
  %ul.nav.flex-column
    %li.nav-item
      = link_to fa_icon("presentation-screen", text: 'Previous Meetings'), team_path(1) , class: "nav-link disabled"
  %ul.nav.flex-column
    %li.nav-item
      = link_to fa_icon("chart-pie", text: 'Team Data'), team_data_index_path(params[:student_team_id]), remote: true, class: "nav-link"
  %ul.nav.flex-column
    %li.nav-item
      = link_to fa_icon("list-ol", text: 'Assessments'), swap_to_assessments_path(params[:student_team_id]) , remote: true, class: "nav-link "
  %ul.nav.flex-column
    %li.nav-item
      = link_to fa_icon("flag", text: 'Report'), team_path(1) , class: "nav-link" , "data-toggle": 'modal', "data-target": '#reportModal'
  
