-# Menu partial used to swap between assessments tab and meeting notes tab
-if selected == 0
  .col-1
    = link_to fa_icon("question"), team_path(1) , class: "nav-link" , "data-toggle": 'modal', "data-target": '#meetingHelpModal'
  .col-5.selected-panel-box.text-center
    = link_to "Meeting Notes", swap_to_meetings_path(student_team_id), remote: true

  .col-5.text-center.unselected-panel-box
    = link_to "Assessments", swap_to_assessments_path(student_team_id), remote: true
  .col-1
    = link_to fa_icon("question"), team_path(1) , class: "nav-link" , "data-toggle": 'modal', "data-target": '#assessmentHelpModal'
- else 
  .col-1
    = link_to fa_icon("question"), team_path(1) , class: "nav-link" , "data-toggle": 'modal', "data-target": '#meetingHelpModal'
  .col-5.text-center.unselected-panel-box
    = link_to "Meeting Notes", swap_to_meetings_path(student_team_id), remote: true

  .col-5.selected-panel-box.text-center
    = link_to "Assessments", swap_to_assessments_path(student_team_id), remote: true, class: "fs-1"
  .col-1
    = link_to fa_icon("question"), team_path(1) , class: "nav-link" , "data-toggle": 'modal', "data-target": '#assessmentHelpModal'

-# Help modals
.modal.fade#meetingHelpModal
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title Meeting Notes Explained
        %button.close{type: :button, data: {dismiss: :modal}}
          %span &times;

      %div.modal-body
        // What a team task is
        .mb-3.text-wrap{"style": "white-space: pre-line;"}
          %h6 What are Meeting Notes For?
          %p= StudentChat.whatAreNotes()

        .mb-3.text-wrap{"style": "white-space: pre-line;"}
          %h6 What to Note?
          %p= StudentChat.whatToNote()

.modal.fade#assessmentHelpModal
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title Student Assessments Explained
        %button.close{type: :button, data: {dismiss: :modal}}
          %span &times;

      %div.modal-body
        // What are assessments
        .mb-3.text-wrap{"style": "white-space: pre-line;"}
          %h6 What are Peer Assessments?
          %p= Assessment.whatAreAssessments()

        // What are weighitngs
        .mb-3
          %h6 Are they Assessed?
          %p= Assessment.whatAreWeightings()
          %p{"style": "font-weight: bold;"} If you feel like your grade is unfair and doesn't accurately represent your input, please submit a report.

        // how to answer questions
        .mb-3
          %h6 How to accurately rate peers?
          %p= Assessment.howToAnswerQuestions()
