-# Main student team home page view
- content_for :title, "[Student] Team Homepage"

.col.mt-0#main-team-home-page-container
  -# Check to see if any error messages to display
  - if flash[:error]
    .row.justify-content-center 
      .col-8.error-container.text-center
        %h6.font-weight-bold= flash[:error]
  -# Check to see if any outgoing assessments to be completed
  -if @outgoing_assessments > 0
    .row.justify-content-center 
      .col-8.task-options-container
        %h4.font-weight-bold.text-wrap.text-center= ("You currently have " + @outgoing_assessments.to_s+ " peer assessments to complete. Please submit them before deadline to provide peer feedback.")
  .row 
    .col-1.offset-1.pr-4
      .row 
        .col.pl-2.task-options-container.text-center
          = link_to fa_icon("flag", text: 'Report'), team_path(1) , class: "nav-link" , "data-toggle": 'modal', "data-target": '#reportModal'
    .col-4.pr-4
      = render partial: 'main_home_panel', locals: {new_task: @task, student_team_id: @student_team.id, select_options: @select_options, tasks: @tasks, pagy: @pagy, tasks_count: @tasks_count}
    .col-4.pl-4
      .row.task-options-container#swap-meeting-assessment
        = render partial: "student_teams/swap_chat_and_assessment", locals: {student_team_id: @student_team.id, selected: 0}
      #right-panel-swap
        = render partial: 'student_chats/right_chat_panel', locals: {messages: @messages, student_team: @student_team, select_options: @select_options, week_options: @week_options}


= render 'student_reports/form', locals: {initial_items: @item_list}
