.modal.fade#completeTaskModal
  .modal-dialog
    = simple_form_for student_task, url: student_task_complete_task_path(student_task.id), remote: true, defaults: {input_html: {class: 'form-control'}} do |f|

      .modal-content
        .modal-header
          %h5.modal-title Complete Task
          %button.close{type: :button, data: {dismiss: :modal}}
            %span &times;

        %div.modal-body
          .mb-3
            -# = f.label :task_completed_summary, "Task Notes:", class: 'form-label'
            = f.text_area :task_completed_summary, placeholder: "Please summarise task... ", class: 'form-control', rows: '6'
          .mb-3
            = f.label :hours, "Hours Spent on Task:", class: 'form-label'
            = f.input :hours, as: :integer, placeholder: "Please summarise task... ", class: 'form-control', rows: '6', label: false
          .mb-3 
            WARNING
            The hours that you submit should be an accurate reflection of the time spent on this specific task. 
            Overestimating hours spent on a task could lead to a report against you.

        .modal-footer 
          = f.button :submit, 'Complete Task', class: 'btn btn-primary button-colour', data: { confirm: 'Are you sure? Once submitted task will be marked as complete.'}

        