-# Partial form for student tasks

= simple_form_for task, url: student_task_create_path(student_team_id) do |f|
  .card-header 
    %h5 New Task
    = f.button :submit, 'Save', class: 'btn btn-primary' 
  
  .card-body.overflow-auto 
    = f.input_field :task_objective, required: true, as: :string, placeholder: "Whats the objective?"

    .input-group 
      = f.input_field :task_difficulty, as: :select, collection: ["Easy", "Medium", "Hard"], input_html: {multiple: false}, label: false, prompt: "Difficulty"

    .input-group 
    = f.input :task_target_date, start_year: Date.today.year, label: "Target Date:"
    -# = f.text_field :task_target_date, data: {provide: 'datepicker'}, placeholder: "Target Date:"

    
