-# Partial form for student tasks

= simple_form_for task do |f|
  .card-header 
    %h5 New Task
    = f.button :submit, 'Save', class: 'btn btn-primary' 
  
  .card-body.overflow-auto 
    = f.input_field :task_objective, required: true, as: :string, placeholder: "Whats the objective?"

    .input-group 
      = f.input_field :task_difficulty, as: :select, collection: ["Easy", "Medium", "Hard"], input_html: {multiple: false}, label: false, prompt: "Difficulty"

    .input-group 
    = f.text_field :task_target_date, data: {provide: 'datepicker'}, placeholder: "Target Date:"

    
//Javascript used to format the date picker, part of the 'bootstrap-datepicker-rails' gem
:javascript
  var date = new Date();
  date.setDate((new Date()).getDate()-1);

  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'dd-mm-yyyy',
      startDate: date});
  });