.col.py-2
  .row 
    .col
      =link_to fa_icon("chevron-left", text: 'Go Back'), return_task_list_path(student_task.student_team_id), remote: true
  .row.justify-content-between
    .col-auto
      = student_task.get_linked_students()
    .col 
      .float-right
        = "Due Date: " + student_task.task_target_date.to_s
  .row 
    .col 
      = student_task.task_objective
  .row 
    .col#like_button.float-right
      =link_to fa_icon("thumbs-up", text: student_task.student_task_likes.count), student_task_like_task_path(student_task), remote: true, method: :post, class: 'float-right'
  = simple_form_for student_task_comment, url: student_task_comment_path(student_task.id), remote: true do |f|
    .row 
      .col
        = f.text_area  :comment, required: true, as: :string, placeholder: "Enter comment...", rows: 2, class: 'form-control'
    .row.py-1
      .col
        = f.button :submit, 'Comment', class: 'btn btn-primary float-right' 
  .row.border-top.pt-2
    = render partial: 'student_tasks/comments_list', locals: {comments: student_task.student_task_comments}  



