.container
  .row 
    .col-sm
      =link_to 'Back', student_team_dashboard_path(@student_task.student_team_id), class: "btn"
    .col-xl 
      Student Tasks
  .row
    .col-xl
      = @student_task.get_linked_students()
  .row
    .col-xl
      = @student_task.task_objective
= StudentTask.difficulty_int_to_string(@student_task.task_difficulty)
= @student_task.task_target_date

-if can?(:edit, StudentTask)
  =link_to 'Edit', edit_student_task_path(@student_task)
  =link_to 'Complete', student_team_dashboard_path(@student_task.student_team_id), class: "btn"

%br 
%br
  = simple_form_for @student_task_comment, url: student_task_comment_path(@student_task.id) do |f|

    %h5 New Task
    = f.button :submit, 'Comment', class: 'btn btn-primary' 

    .input-group 
    = f.input_field :comment, required: true, as: :string, placeholder: "Enter comment"

%br
  = render partial: 'comments_list', locals: {comments: @student_task.student_task_comments}  