- # Partial used to display a list of assessments, for the student team page
-# Must be passed through assessment list as local
.col#assessment_list
  - if assessments.count > 0
    - assessments.each do |a|
      = link_to fillin_assessment_path(a, student_team: student_team), class: 'student_task_box', remote: true do
        // Glow if not complete and within fill in dates
        -if !(a.completed_by?(student_team)) && (a.within_fill_dates?)
          .task-options-container.glowing_assignment.selectable-container
            .row
              .col
                .row.border-top
                  .col
                    %h4= a.name
                .row
                  .col-auto
                    Closing on: 
                  .col
                    = a.date_closed.to_date
              -#  Check to see which options are correct
              - if a.has_team_grades?
                .col-auto.pull-right
                  %h5= ("Grade: "+ a.get_individual_grade(student_team).to_s)
              -elsif a.completed_by?(student_team)
                .col-auto.pull-right
                  %h5 Submitted
              -elsif (!a.within_fill_dates?)
                .col-auto.pull-right
                  %h5 Closed
        - else
          .task-options-container
            .row
              .col
                .row.border-top
                  .col
                    %h4= a.name
                .row
                  .col-auto
                    Closing on: 
                  .col
                    = a.date_closed.to_date
              - if a.has_team_grades?
                .col-auto.pull-right
                  %h5= ("Grade: "+ a.get_individual_grade(student_team).to_s)
              -elsif a.completed_by?(student_team)
                .col-auto.pull-right
                  %h5 Submitted
              -elsif (!a.within_fill_dates?)
                .col-auto.pull-right
                  %h5 Closed

              
  - else 
    .task-options-container.text-center
      %h3 No Assessments