= simple_form_for @student_report, url: student_reports_path() do |f|

  %h5 New Task
  = f.button :submit, 'Submit Report', class: 'btn btn-primary' 

  %div{ 'data-controller': "report"}
    .input-group 
    = f.label :report_object, "What are you reporting?"
    = f.select :report_object, ["User", "Grade", "Task", "Team"], {prompt: "What are you reporting?"}, { class: 'form-select', data: { action: "change->report#change"}, "data-report-target": "reportingSelect", include_blank: false }

    .input-group 
    = f.label :report_object_id, "Please select report object:"
    = f.select :report_object_id, [], {}, { class: 'form-select', "data-report-target": "formCollection"}



  .input-group 
  = f.label :report_object, "Reason for report:"
  = f.input_field :report_reason, required: true, as: :string, placeholder: "Report Reason...", label: "Reason for report?"
