.modal.fade#reportModal
  .modal-dialog
    = simple_form_for @student_report, url: create_report_path(params[:student_team_id]), remote: true, defaults: {input_html: {class: 'form-control'}} do |f|

      .modal-content
        .modal-header
          %h5.modal-title New Report
          %button.close{type: :button, data: {dismiss: :modal}}
            %span &times;

        %div.modal-body{ 'data-controller': "report"}
          .mb-3
            = f.label :object_type, "Reporting a:", {class: 'form-label'}
            = f.select :object_type, [["User", 0], ["Grade", 1], ["Task", 2]], {}, { class: 'form-select form-control', data: { action: "change->report#change"}, "data-report-target": "reportingSelect", include_blank: false }

          .report_objects.mb-3
            = f.simple_fields_for :report_objects do |reportee|
              = reportee.label :report_object_id, "Items:", class: 'form-label'
              = reportee.select :report_object_id, @item_list, {}, { multiple: true, class: 'form-select form-control select_two', "data-report-target": "formCollection"}

          .mb-3
            -# = f.label :report_reason, "Detail why you are reporting, giving specific reasons for each item:", {class: 'form-label'}
            = f.text_area :report_reason, class: 'form-control', rows: '6', placeholder: "Please enter report details:"
        .modal-footer 
          = f.button :submit, 'Submit Report', class: 'btn btn-primary' 

        