- # Partial used to display reporter details
.task-options-container
  .row
    .col
      =link_to fa_icon("chevron-left", text: 'Go Back'), student_report.student_team.team
    .col-auto.pull-right
      %h4= ("Report #"+ student_report.id.to_s)
  .row.mt-1.mb-1
    .col-auto 
      %h3 Report Details: 
  .row.mb-1
    .col-auto 
      %h6="Reported By:"
    .col 
      = reporter.real_display_name + " / " + reporter.email
  .row.mt-1.mb-1
    .col-auto 
      %h6="Report Type:"
    .col 
      = student_report.reporting_int_to_string
  .row
    .col-auto 
      %h6="Report Description:"
    .col
      = student_report.report_reason
  - # If report isn't complete, allow user to complete the report
  - if !student_report.complete 
    .row 
      .col 
        = link_to fa_icon("check", text: "Complete Report"), complete_report_form_path(student_report.id)
  -# Else, display which staff member resolved the report
  - else 
    .row 
      .col
        - resolver = User.find(student_report.handled_by)
        %h4.font-weight-bold= ("This report has been marked as resolved by "+ resolver.real_display_name)
