.container.mt-4
  = simple_form_for @student_report do |f|
    .task-options-container
      = f.label :reporter_response, "Please descibe the actions you are taking on this report:"
      = f.input :reporter_response, required: true, as: :text, hint: "This reponse will be emailed to the reporter, so please be detailed, describing actions you will be taking for each individual reported object."

    = f.simple_fields_for :report_objects do |ro|
      .task-options-container{ 'data-controller': "report"}
        - if @student_report.object_type ==0
          - report_object  = StudentTeam.find_by(id: ro.object.report_object_id)
          - object_name = report_object.user.real_display_name
        -elsif @student_report.object_type == 1
          - report_object  = Assessment.find_by(id: ro.object.report_object_id)
          - object_name = report_object.name
        - else 
          - report_object  = StudentTask.find_by(id: ro.object.report_object_id)
          - object_name = report_object.task_objective
        
        %h5= ("Report Item: " + object_name.to_s)
        = ro.select :taken_action, [["False", 0], ["True", 1]], {}, { class: 'form-select form-control', data: { action: "change->report#change_action_take"}, "data-report-target": "takeActionBoolean", include_blank: false }
        -# = ro.input :taken_action, as: :boolean, label: "Will you be taking action for this report item?", hint: "Please be sure to take the action described after completing this report.", data: {action: "toggle->report#change_action_take"}, "data-report-target": "takeActionBoolean"
        - if @student_report.object_type != 1
          -# = ro.label :emailed_reportee, "Should you email the reportee?"
          -# = ro.input :emailed_reportee, as: :boolean, label: "Should you email the reportee?", data: {action: "input->report#change_email_reportee"}, "data-report-target": "emailReporteeBoolean"
          = ro.select :emailed_reportee, [["False", 0], ["True", 1]], {}, { class: 'form-select form-control', data: { action: "change->report#change_email_reportee"}, "data-report-target": "emailReporteeBoolean", include_blank: false , disabled: true}
          = ro.label :action_taken, "Please describe the action you are taking against reportee:"
          = ro.text_field :action_taken, hint: "This response will be emailed to the reportee, so please be detailed.", data: {target: "report.reporteeResponse"}, disabled: true