-# Form used by staff when completing a student report
.container.mt-4

  = simple_form_for @student_report , url: complete_report_path(@student_report.id) do |f|
    .task-options-container
      .row 
        .col.auto 
          =link_to fa_icon("chevron-left", text: 'Go Back'), :back
        .col-auto.pull-right
          = f.button :submit, 'Complete Report', class: 'btn btn-primary', data: { confirm: 'Are you sure? Once submitted the report will be marked as complete and emails will be sent.'}

    .task-options-container
      %h4.font-weight-bold Response to Reportee:
      = f.label :reporter_response, "Please describe the actions you are taking on this report:"
      = f.input :reporter_response, required: true, as: :text, hint: "This reponse will be emailed to the reporter, so please be detailed, describing actions you will be taking for each individual reported object.", label: false

    -# Loop through reported objects
    = f.simple_fields_for :report_objects do |ro|
      -# Javascript data controller (stimulus), detect when dropdowns change, deciding to active or deactive specific fields
      .task-options-container{ 'data-controller': "report"}
        - if @student_report.object_type ==0
          - report_object  = StudentTeam.find_by(id: ro.object.report_object_id)
          - object_name = report_object.user.real_display_name
        -elsif @student_report.object_type == 1
          - report_object  = Assessment.find_by(id: ro.object.report_object_id)
          - object_name = report_object.name
        - else 
          - report_object  = StudentTask.find_by(id: ro.object.report_object_id)
          - object_name = report_object.task_objective
        
        %h5= ("Report Item: " + object_name.to_s)
        .row 
          .col-auto
            = ro.label :taken_action, "Will you take action on this reported item?"
          .col-auto
            = ro.select :taken_action, [["No", 0], ["Yes", 1]], {}, { class: 'form-select form-control', data: { action: "change->report#change_action_take"}, "data-report-target": "takeActionBoolean", include_blank: false }
        -if @student_report.object_type == 2
          .row 
            .col
              %p.font-weight-light If action is taken, the task will be deleted from the system.
        - elsif @student_report.object_type == 1
          .row
            .col 
              %p.font-weight-light If action is taken, you will need to set the new grade/weights manually.
        .row 
          .col 
            = ro.label :action_taken, "Please describe the action you are taking:"
        .row 
          .col 
            = ro.text_area :action_taken, data: {target: "report.actionTakenText"}, disabled: true, class: "form-control"

        - if @student_report.object_type != 1
          .row 
            .col-auto
              = ro.label :emailed_reportee, "Would you like to email the reportee?"
            .col-auto
              = ro.select :emailed_reportee, [["No", 0], ["Yes", 1]], {}, { class: 'form-select form-control', data: { action: "change->report#change_email_reportee"}, "data-report-target": "emailReporteeBoolean", include_blank: false , disabled: true}
          .row 
            .col 
              = ro.label :reportee_response, "Please enter response to email to reportee:"
          .row 
            .col 
              = ro.text_area :reportee_response, hint: "This response will be emailed to the reportee, so please be detailed.", data: {target: "report.reporteeResponse"}, disabled: true, class: "form-control"
        - else 
          .d-none
            = ro.select :emailed_reportee, [["No", 0], ["Yes", 1]], {}, { class: 'form-select form-control', data: { action: "change->report#change_email_reportee"}, "data-report-target": "emailReporteeBoolean", include_blank: false , disabled: true}
            = ro.text_area :reportee_response, hint: "This response will be emailed to the reportee, so please be detailed.", data: {target: "report.reporteeResponse"}, disabled: true, class: "form-control"