%nav.navbar.navbar-expand-lg.navbar-black.py-1
  %a.navbar-brand.mx-1{:href => root_path} 
    .logo-image 
      %img.img-fluid{src: asset_path('TPlusSmallIconWhite.png')}
  %button.navbar-toggler{"aria-controls" => "navbarText", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarText", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => root_path}
          Home
      - unless current_user.nil?
        - if current_user.staff
          %li.nav-item.active
            %a.nav-link{:href => home_staff_home_url} Dashboard
        -else
          - @student_teams = current_user.student_teams
          - if @student_teams.count > 0 
            .nav-item.dropdown
              %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
                .navbar-text My Teams
              .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
                - @student_teams.each do |student_team|
                  - module_info = student_team.team.uni_module
                  = link_to ("#{module_info.title} - Team #{student_team.team_id}"), student_team_dashboard_path(student_team.id), class: 'dropdown-item'


          -# %li.nav-item.active
          -#   %a.nav-link{:href => home_student_home_url} Dashboard
          -# -# %li.nav-item.active
          -# -#   %a.nav-link{:href => new_student_task_path} Tasks
        - if current_user.admin
          %li.nav-item.active
            %a.nav-link{:href => admin_dashboard_path} Admin Dashboard
      %li.nav-item.active
        %a.nav-link{:href => about_url} About
    %span.nav-item.active
      - if current_user.nil?
        = link_to 'Sign in', new_user_session_path, class: 'btn', style: 'color: white;'
      - else
        .nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
            .navbar-text= current_user.username
          .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            = link_to 'My Account', home_account_path, class: 'dropdown-item'
            = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item'