!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title.nil? ? "TeamPlayerPlus" : "#{@title} | TeamPlayerPlus"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    %link{"rel": "stylesheet", "href": "https://fonts.googleapis.com/icon?family=Material+Icons"}
    = javascript_pack_tag 'application', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'staff_modules', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'criterium_fields', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'enable_tooltips', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'pagination', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'clipboard', 'data-turbo-track': 'reload'
    = favicon_link_tag asset_path('TPlusSmallIcon.png')
    %link{"rel": "preconnect" ,"href": "https://fonts.googleapis.com"} 
    %link{ "rel": "preconnect", "href": "https://fonts.gstatic.com"}
    %link{"href": "https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" ,"rel": "stylesheet"}
  %body
    .container-fluid.px-0
      = render 'layouts/navbar'
      - if notice
        %p.notice.alert.alert-primary= notice
      - if alert
        %p.alert.alert-primary= alert
      .main
        = yield
