!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title.nil? ? "TeamPlayerPlus" : "#{@title} | TeamPlayerPlus"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{"rel": "stylesheet", "href": "https://fonts.googleapis.com/icon?family=Material+Icons"}
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'staff_modules', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'criterium_fields', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'enable_tooltips', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'pagination', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'clipboard', 'data-turbolinks-track': 'reload'
  %body
    .container
      = render 'layouts/navbar'
      - if notice
        %p.notice.alert.alert-primary= notice
      - if alert
        %p.alert.alert-primary= alert
      = yield
